<h1 class="page-title">人気</h1>

<!-- 並び替え -->
<fieldset id="fieldset" class="my-4 text-center">
  <input id="period-all" class="radio-inline__input" type="radio" name="accessible-radio" checked="checked"/>
  <label class="radio-inline__label" for="period-all">
      <%= link_to "全期間", sort_path(sort: "period-all"), {remote: true, class: "block p-3"} %>
  </label>
  <input id="period-month" class="radio-inline__input" type="radio" name="accessible-radio"/>
  <label class="radio-inline__label" for="period-month">
      <%= link_to "1ヶ月", sort_path(sort: "period-month"), {remote: true, class: "block p-3"} %>
  </label>
  <input id="period-week" class="radio-inline__input" type="radio" name="accessible-radio"/>
  <label class="radio-inline__label" for="period-week">
      <%= link_to "1週間", sort_path(sort: "period-week"), {remote: true, class: "block p-3"} %>
  </label>
</fieldset>

<!-- micropost表示 -->
<div id="microposts">
  <%= render 'shared/microposts', microposts: @microposts %>
</div>

<%= javascript_pack_tag 'modal/application' %>
